.video {
  text-align: center;
  @media screen and (min-width: $desktop) {
    text-align: start;
  }
  &__conteiner {
    position: relative;
    margin: 0 auto;
    padding: 40px 20px;
    height: 629px;

    background-image: url(../images/video/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }

    @media screen and (min-width: $tablet) {
      background-image: url(../images/video/bg-tablet.png);
      padding: 80px 32px 40px;
      width: $tablet;
    }

    @media screen and (min-width: $desktop) {
      background-image: url(../images/video/bg-dt.png);
      padding: 60px 16px;
      width: $desktop;
      max-height: 402px;
    }
  }
  &__title {
    margin-bottom: 24px;
    color: $color-second;
    @media screen and (min-width: $desktop) {
      margin-bottom: 20px;
    }
  }
  &__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2142;
    margin-bottom: 24px;
    color: $color-second;
    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.1875;
    }
    @media screen and (min-width: $desktop) {
      max-width: 479px;
      margin-bottom: 40px;
    }
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .video__conteiner {
    background-image: url(../images/video/bg-mobile@2x.png);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: $tablet),
  (min-resolution: 192dpi) and (min-width: $tablet),
  (min-resolution: 2dppx) and (min-width: $tablet) {
  .video__conteiner {
    background-image: url(../images/video/bg-tablet@2x.png);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: $desktop),
  (min-resolution: 192dpi) and (min-width: $desktop),
  (min-resolution: 2dppx) and (min-width: $desktop) {
  .video__conteiner {
    background-image: url(../images/video/bg-dt@2x.png);
  }
}

.entypo-social {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  gap: 20px;
  @media screen and (min-width: $desktop) {
    justify-content: left;
  }
  &__link {
    display: flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: $color-second;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $gradient-button;

    cursor: pointer;
  }
}

.video__image {
  position: absolute;
  z-index: 2;
  bottom: -20px;
  left: 0;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -7%);
  @media screen and (min-width: $tablet) {
    width: 600px;
    height: auto;
  }
  @media screen and (min-width: $desktop) {
    left: 100%;
    right: 0;
    width: 680px;
    height: auto;
    transform: translate(-105%, -2%);
  }
}
