.video {
  text-align: center;
  // background-color: #06071b;
  @media screen and (min-width: $desktop) {
    text-align: start;
  }
  &__conteiner {
    width: 100%;
    background-color: #06071b;
    background-image: url(../images/video/bg-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    min-height: 629px;

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }

    @media screen and (min-width: $tablet) {
      background-image: url(../images/video/bg-tablet.jpg);
      padding: 80px 32px 40px;
      width: $tablet;
      min-height: 629px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: $desktop;
      min-height: 402px;
      padding: 60px 16px;

      background-image: url(../images/video/bg-dt.jpg);
    }
  }
  &__title {
    font-family: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
    color: $color-second;

    @media screen and (min-width: $tablet) {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2083;
      margin-bottom: 20px;
    }
  }
  &__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2142;
    margin-bottom: 24px;
    color: $color-second;
    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.1875;
      margin-bottom: 20px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 479px;
      margin-bottom: 40px;
    }
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .video__conteiner {
    background-image: url(../images/video/bg-mobile@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: $tablet),
  (min-resolution: 192dpi) and (min-width: $tablet),
  (min-resolution: 2dppx) and (min-width: $tablet) {
  .video__conteiner {
    background-image: url(../images/video/bg-tablet@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: $desktop),
  (min-resolution: 192dpi) and (min-width: $desktop),
  (min-resolution: 2dppx) and (min-width: $desktop) {
  .video__conteiner {
    background-image: url(../images/video/bg-dt.jpg);
  }
}
.conteiner.video--position {
  padding: 0 20px;
  font-weight: 200;
  font-weight: 200;
  font-weight: 200;
  font-weight: 200;
  font-weight: 200;
  font-weight: 200;
}
.entypo-social {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 20px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    justify-content: left;
    margin-bottom: 38px;
  }
  &__link {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    fill: $color-second;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $gradient-button;
    cursor: pointer;
  }
  &__link:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    background: #06071b;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
  &__link:hover:before {
    opacity: 1;
  }
}
.entypo-social__icon {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.video__picture {
  position: relative;
  padding: 50px 0;
  @media screen and (min-width: $tablet) {
    padding: 50px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 0;
  }

  &::before {
    content: '';
    width: 120%;
    height: 120%;
    z-index: 20;
    background-image: url(../images/video/mob-blur.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-15%, 10%);
    animation: opacityAnim linear 4000ms infinite;
    @media screen and (min-width: $tablet) {
      content: '';
      width: 100%;
      height: 120%;
      z-index: 20;
      background-image: url(../images/video/blur-tablet.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 82% 106%;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(0%, 13%);
    }
    @media screen and (min-width: $desktop) {
      content: '';
      content: '';
      width: 150%;
      height: 150%;
      z-index: 20;
      background-image: url(../images/video/blur-dt.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 94% 138%;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-26%, 12%);
    }
  }
}
.video__image {
  width: 100%;
  z-index: 30;
  max-width: 100%;
  width: 100%;
  z-index: 30;
  max-width: 100%;
  height: auto;
  padding: 0 20px;
  display: block;
  position: relative;

  @media screen and (min-width: $tablet) {
    z-index: 30;
    height: auto;
    width: 401px;
    padding: 0;
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10%);
  }
  @media screen and (min-width: $desktop) {
    width: 501px;
    height: 264px;
    height: auto;
    padding: 0;
    transform: translate(-65%, -3%);
  }
}
@keyframes opacityAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
