.video {
  text-align: center;
  background-color: #06071b;
  @media screen and (min-width: $desktop) {
    text-align: start;
  }
  &__conteiner {
    position: relative;
    margin: 0 auto;
    padding: 40px 20px;

    background-image: url(../images/video/bg-mobile-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }

    @media screen and (min-width: $tablet) {
      background-image: url(../images/video/bg-tablet-1.jpg);
      padding: 80px 32px 40px;
      width: $tablet;
    }

    @media screen and (min-width: $desktop) {
      background-image: url(../images/video/bg-dt-1.jpg);
      padding: 60px 16px;
      width: $desktop;
    }
  }
  &__title {
    font-family: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
    color: $color-second;

    @media screen and (min-width: $tablet) {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2083;
      margin-bottom: 20px;
    }
  }
  &__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2142;
    margin-bottom: 24px;
    color: $color-second;
    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.1875;
      margin-bottom: 20px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 479px;
      margin-bottom: 40px;
    }
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .video__conteiner {
    background-image: url(../images/video/bg-mobile-1@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: $tablet),
  (min-resolution: 192dpi) and (min-width: $tablet),
  (min-resolution: 2dppx) and (min-width: $tablet) {
  .video__conteiner {
    background-image: url(../images/video/bg-tablet-1@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: $desktop),
  (min-resolution: 192dpi) and (min-width: $desktop),
  (min-resolution: 2dppx) and (min-width: $desktop) {
  .video__conteiner {
    background-image: url(../images/video/bg-dt-1@2x.jpg);
  }
}

.entypo-social {
  display: flex;
  justify-content: center;
  margin-bottom: 298px;
  gap: 20px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 298px;
  }
  @media screen and (min-width: $desktop) {
    justify-content: left;
    margin-bottom: 38px;
  }
  &__link {
    position: relative;
    display: flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: $color-second;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $gradient-button;

    cursor: pointer;
  }
  &__link:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    background: #06071b;
    opacity: 0;
  }
  &__link:hover:before {
    opacity: 1;
  }
}
.entypo-social__icon {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.video__image {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  left: 50%;
  max-width: 100%;

  transform: translate(-50%, -30%);
  @media screen and (min-width: $tablet) {
    width: 400px;
    height: auto;
    transform: translate(-50%);
  }
  @media screen and (min-width: $desktop) {
    left: 90%;
    width: 501px;
    height: auto;
    transform: translate(-100%, -10%);
  }
}
