:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --gradient: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
    /* Font */
    --basic-font-family: 'Inter', sans-serif;
    --minor-font-family: 'Montserrat', sans-serif;
}