// Fonts

$font-family-premier: Inter, sans-serif;
$font-family-second: Montserrat, sans-serif;

// Colors

$background-light: #ffffff;
$background-dark: #06071b;
$background-modal: #07081c;

$color-premier: #000000;
$color-second: #ffffff;
$color-placeholder: #939eac;

$hover-focus-button: transparent;

// Gradients

$gradient-header: linear-gradient(
  90.03deg,
  rgba(0, 197, 235, 0.3) -1.97%,
  rgba(181, 68, 254, 0.3) 89.43%
);

$gradient-button: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);

// Transitions

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
