<section class="features">
  <div class="container features-container">
    <h2 class="features__title-name">KEY FEATURES</h2>
    <p class="features__description">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <!-- <span class="features__picture"></span> -->

    <ul class="features__list">
      <li class="features__item features__item--before">
        <h3 class="features__title">Amet varius</h3>
        <p class="features__text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h3 class="features__title">Amet varius</h3>
        <p class="features__text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h3 class="features__title">Amet varius</h3>
        <p class="features__text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h3 class="features__title">Amet varius</h3>
        <p class="features__text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h3 class="features__title">Amet varius</h3>
        <p class="features__text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h3 class="features__title">Amet varius</h3>
        <p class="features__text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
    </ul>
  </div>
</section>
