<section class="section team">
	<div class="container">
		<h2 class="section-title">OUR TEAM</h2>
		<p class="section-description">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
			neque. In
			sit
			amet lectus non lacus sollicitudin
			cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
		<ul class="team-list">
			<li class="team-list__item team-list__item--man">
				<picture>
					<source
						srcset="/src/images/team/mob-Managing-Direcor.jpg 1x, /src/images/team/mob@-Managing-Direcor.jpg 2x"
						media="(max-width:767px)" />
					<source
						srcset="/src/images/team/tab-Managing-Direcor.jpg 1x, /src/images/team/tab@-Managing-Direcor.jpg 2x"
						media="(max-width:1279px)" />
					<source
						srcset="/src/images/team/des-Managing-Direcor.jpg 1x, /src/images/team/des@-Managing-Direcor.jpg 2x"
						media="(min-width:1280px)" />
					<img class="team-foto" src="/src/images/team/mob-Managing-Direcor.jpg"
						alt="Photo of Jon Doe, Managing Direcor" />
				</picture>
				<div class="team-list__team-section">
					<h3 class="team-list__title">Jon Doe</h3>
					<h4 class="team-list__type">Managing Direcor</h4>
				</div>
			</li>
			<li class="team-list__item team-list__item--woman">
				<picture>
					<source
						srcset="/src/images/team/mob-Lead-Designer.jpg 1x, /src/images/team/mob@-Lead-Designer.jpg 2x"
						media="(max-width:767px)" />
					<source
						srcset="/src/images/team/tab-Lead-Designer.jpg 1x, /src/images/team/tab@-Lead-Designer.jpg 2x"
						media="(max-width:1279px)" />
					<source
						srcset="/src/images/team/des-Lead-Designer.jpg 1x, /src/images/team/des@-Lead-Designer.jpg 2x"
						media="(min-width:1280px)" />
					<img class="team-foto" src="/src/images/team/mob-Lead-Designer.jpg"
						alt="Photo of Jon Doe, Lead Designer" />
				</picture>
				<div class="team-list__team-section">
					<h3 class="team-list__title">Jane Doe</h3>
					<h4 class="team-list__type">Lead Designer</h4>
				</div>
			</li>
			<li class="team-list__item team-list__item--woman">
				<picture>
					<source
						srcset="/src/images/team/mob-Lead-Developer.jpg 1x, /src/images/team/mob@-Lead-Developer.jpg 2x"
						media="(max-width:767px)" />
					<source
						srcset="/src/images/team/tab-Lead-Developer.jpg 1x, /src/images/team/tab@-Lead-Developer.jpg 2x"
						media="(max-width:1279px)" />
					<source
						srcset="/src/images/team/des-Lead-Developer.jpg 1x, /src/images/team/des@-Lead-Developer.jpg 2x"
						media="(min-width:1280px)" />
					<img class="team-foto" src="/src/images/team/mob-Lead-Developer.jpg"
						alt="Photo of Jon Doe, Lead Developer" />
				</picture>
				<div class="team-list__team-section">
					<h3 class="team-list__title">Jane Doe</h3>
					<h4 class="team-list__type">Lead Developer</h4>
				</div>
			</li>
			<li class="team-list__item team-list__item--man">
				<picture>
					<source
						srcset="/src/images/team/mob-Sr-UI-Designer.jpg 1x, /src/images/team/mob@-Sr-UI-Designer.jpg 2x"
						media="(max-width: 767px)" />
					<source
						srcset="/src/images/team/tab-Sr-UI-Designer.jpg 1x, /src/images/team/tab@-Sr-UI-Designer.jpg 2x"
						media="(max-width:1279px)" />
					<source
						srcset="/src/images/team/des-Sr-UI-Designer.jpg 1x, /src/images/team/des@-Sr-UI-Designer.jpg 2x"
						media="(min-width:1280px)" />
					<img class="team-foto" src="/src/images/team/mob-Sr-UI-Designer.jpg"
						alt="Photo of Jon Doe, Sr. UI Designer" />
				</picture>
				<div class="team-list__team-section">
					<h3 class="team-list__title">Jane Doe</h3>
					<h4 class="team-list__type">Sr. UI Designer</h4>
				</div>
			</li>
		</ul>
	</div>
</section>