<section class="section team">
  <div class="container">
    <h2 class="team__title" id="team">OUR TEAM</h2>
    <p class="team__description">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <ul class="team-list">
      <li class="team-list__item team-list__item--man">
        <picture>
          <source
            srcset="
              /src/images/team/mob-Managing-Director.jpeg  1x,
              /src/images/team/mob@-Managing-Director.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /src/images/team/tab-Managing-Director.jpeg  1x,
              /src/images/team/tab@-Managing-Director.jpeg 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              /src/images/team/des-Managing-Director.jpeg  1x,
              /src/images/team/des@-Managing-Director.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="team-foto"
            src="/src/images/team/mob-Managing-Director.jpeg"
            alt="Photo of Jon Doe, Managing Director"
          />
        </picture>
        <div class="team-list__team-section">
          <h3 class="team-list__title">Jon Doe</h3>
          <h4 class="team-list__type">Managing Director</h4>
        </div>
      </li>
      <li class="team-list__item team-list__item--woman">
        <picture>
          <source
            srcset="
              /src/images/team/mob-Lead-Designer.jpeg  1x,
              /src/images/team/mob@-Lead-Designer.jpeg 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              /src/images/team/tab-Lead-Designer.jpeg  1x,
              /src/images/team/tab@-Lead-Designer.jpeg 2x
            "
            media="(max-width:1279px)"
          />
          <source
            srcset="
              /src/images/team/des-Lead-Designer.jpeg  1x,
              /src/images/team/des@-Lead-Designer.jpeg 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="team-foto"
            src="/src/images/team/mob-Lead-Designer.jpeg"
            alt="Photo of Jon Doe, Lead Designer"
          />
        </picture>
        <div class="team-list__team-section">
          <h3 class="team-list__title">Jane Doe</h3>
          <h4 class="team-list__type">Lead Designer</h4>
        </div>
      </li>
      <li class="team-list__item team-list__item--woman">
        <picture>
          <source
            srcset="
              /src/images/team/mob-Lead-Developer.jpeg  1x,
              /src/images/team/mob@-Lead-Developer.jpeg 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              /src/images/team/tab-Lead-Developer.jpeg  1x,
              /src/images/team/tab@-Lead-Developer.jpeg 2x
            "
            media="(max-width:1279px)"
          />
          <source
            srcset="
              /src/images/team/des-Lead-Developer.jpeg  1x,
              /src/images/team/des@-Lead-Developer.jpeg 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="team-foto"
            src="/src/images/team/mob-Lead-Developer.jpeg"
            alt="Photo of Jon Doe, Lead Developer"
          />
        </picture>
        <div class="team-list__team-section">
          <h3 class="team-list__title">Jane Doe</h3>
          <h4 class="team-list__type">Lead Developer</h4>
        </div>
      </li>
      <li class="team-list__item team-list__item--man">
        <picture>
          <source
            srcset="
              /src/images/team/mob-Sr-UI-Designer.jpeg  1x,
              /src/images/team/mob@-Sr-UI-Designer.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /src/images/team/tab-Sr-UI-Designer.jpeg  1x,
              /src/images/team/tab@-Sr-UI-Designer.jpeg 2x
            "
            media="(max-width:1279px)"
          />
          <source
            srcset="
              /src/images/team/des-Sr-UI-Designer.jpeg  1x,
              /src/images/team/des@-Sr-UI-Designer.jpeg 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="team-foto"
            src="/src/images/team/mob-Sr-UI-Designer.jpeg"
            alt="Photo of Jon Doe, Sr. UI Designer"
          />
        </picture>
        <div class="team-list__team-section">
          <h3 class="team-list__title">Jan Doe</h3>
          <h4 class="team-list__type">Sr. UI Designer</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
