<section class="testimonials">
  <div class="container">
    <h2 class="testimonials__title" id="testimonials">
      WHAT OUR COSTUMER’S SAY
    </h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide testimonials__item">
          <img
            class="testimonials__img"
            srcset="
              /src/images/slide/slide-1.jpeg    1x,
              /src/images/slide/slide-1@2x.jpeg 2x
            "
            src="/src/images/slide/slide-1.jpeg"
            alt="picture of customer"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__company">Company Inc.</p>
          <p class="testimonials__testimonial">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            class="testimonials__img"
            srcset="
              /src/images/slide/slide-1.jpeg    1x,
              /src/images/slide/slide-1@2x.jpeg 2x
            "
            src="/src/images/slide/slide-1.jpeg"
            alt="picture of customer"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__company">Company Inc.</p>
          <p class="testimonials__testimonial">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            class="testimonials__img"
            srcset="
              /src/images/slide/slide-1.jpeg    1x,
              /src/images/slide/slide-1@2x.jpeg 2x
            "
            src="/src/images/slide/slide-1.jpeg"
            alt="picture of customer"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__company">Company Inc.</p>
          <p class="testimonials__testimonial">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            class="testimonials__img"
            srcset="
              /src/images/slide/slide-1.jpeg    1x,
              /src/images/slide/slide-1@2x.jpeg 2x
            "
            src="/src/images/slide/slide-1.jpeg"
            alt="picture of customer"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__company">Company Inc.</p>
          <p class="testimonials__testimonial">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            class="testimonials__img"
            srcset="
              /src/images/slide/slide-1.jpeg    1x,
              /src/images/slide/slide-1@2x.jpeg 2x
            "
            src="/src/images/slide/slide-1.jpeg"
            alt="picture of customer"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__company">Company Inc.</p>
          <p class="testimonials__testimonial">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            class="testimonials__img"
            srcset="
              /src/images/slide/slide-1.jpeg    1x,
              /src/images/slide/slide-1@2x.jpeg 2x
            "
            src="/src/images/slide/slide-1.jpeg"
            alt="picture of customer"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__company">Company Inc.</p>
          <p class="testimonials__testimonial">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
      </ul>

      <div class="swiper-custom-pagination"></div>
    </div>
  </div>
</section>
