<section class="video">
  <div class="conteiner video__conteiner">
    <h2 class="video-title">WATCH THE VIDEO</h2>
    <p class="video__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
      at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
      hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
    </p>
    <ul class="entypo-social">
      <li class="entypo-social__item">
        <a
          class="entypo-social__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="icon" width="27" height="32">
            <use href="../src/images/video/sprite.svg#icon-ios"></use></svg
        ></a>
      </li>
      <li class="entypo-social__item">
        <a
          class="entypo-social__link"  
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="icon" width="28" height="32">
            <use href="../src/images/video/sprite.svg#icon-android"></use></svg
        ></a></use></svg
        ></a>
      </li>
    </ul>
      <img class="video__image" src="../src/images/video/img-iphone-video.png" alt="">
  </div>
</section>
