.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1000;

  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);

  transition: scale $transition, opacity $transition;
}

.is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;

  border: 0;
  background-color: transparent;
}

.modal {
  position: relative;

  max-width: 480px;
  height: auto;

  background-color: $background-modal;
  color: $color-second;

  margin: auto;
  padding: 48px 24px;

  //   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //     0px 2px 1px rgba(0, 0, 0, 0.2);
  //   border-radius: 4px;

  @media screen and (min-width: $tablet) {
    max-width: 568px;

    padding: 32px 40px;
  }

  &__title {
    color: $color-second;

    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    margin-top: 0;
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      line-height: 1.167;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    margin-top: 28px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: $tablet) {
  .box-flex-up {
    display: flex;
    flex-wrap: wrap;
    column-gap: 22px;
  }

  .plan-free {
    flex-basis: calc((100% - 1 * 22px) / 2);
    max-width: 233px;
  }

  .plan-free--flex {
    height: auto;
  }

  .flex-down {
    display: flex;
    flex-wrap: wrap;
  }

  .plan-variant-flex {
    flex-basis: calc(100% / 2);
    max-width: 244px;
  }
}

.plan-free {
  height: 394px;

  @media screen and (min-width: $tablet) {
    height: 100%;
  }

  &__title {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    padding-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    gap: 12px;
  }

  &__item {
    display: flex;
    gap: 4px;
    align-items: flex-start;

    line-height: 1.714;
  }

  &--margin {
    margin-top: 20px;

    @media screen and (min-width: $tablet) {
      margin-top: 0;
    }
  }

  &--border {
    position: relative;
    background: $gradient-button;
    padding: 2px;
    border-radius: 6px;
  }
}

.plan-folder {
  margin-bottom: 20px;
}

.plan-icon {
  margin-top: 3px;
}

.box-content {
  background: $background-modal;
  color: $color-second;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  height: 100%;
}

.box-content--radius {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media screen and (min-width: $tablet) {
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
  }
}

.border-bottom,
.box-content-up {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media screen and (min-width: $tablet) {
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
  }
}

.border-top,
.box-content-down {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  @media screen and (min-width: $tablet) {
    border-top-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0;
  }
}

.border-bottom {
  padding: 2px 2px 1px 2px;

  @media screen and (min-width: $tablet) {
    padding: 2px 1px 2px 2px;
  }
}

.border-top {
  padding: 1px 2px 2px 2px;

  @media screen and (min-width: $tablet) {
    padding: 2px 2px 2px 1px;
  }
}

.plan-variant {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  text-align: left;

  &__item {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }
}

.text-up,
.text-down {
  font-size: 12px;
  line-height: 1.25;
}

.text-down {
  color: #1ab9fd;
}

.btn-box {
  position: relative;

  width: 232px;
  display: flex;
  align-items: center;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: $gradient-button;
  border-radius: 5px;
  padding: 2px;

  transition: padding $transition;

  &:hover,
  &:focus {
    padding: 2px;
  }
}

.btn-download {
  width: 232px;
  height: 42px;

  color: $color-second;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.188;
  align-items: center;

  cursor: pointer;

  margin-left: auto;
  margin-right: auto;

  border: transparent;

  border-radius: 5px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: $gradient-button;

  transition: background $transition;

  &:hover,
  &:focus {
    background: $background-modal;
  }
}

// Revers Hover

// .btn-box {
//   position: relative;

//   width: 232px;
//   display: flex;
//   align-items: center;

//   margin-top: 20px;
//   margin-left: auto;
//   margin-right: auto;

//   padding: 2px;

//   background: $gradient-button;

//   border-radius: 5px;
// }

// .btn-download {
//   width: 232px;
//   height: 42px;

//   color: $color-second;

//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.188;
//   align-items: center;

//   cursor: pointer;

//   margin-left: auto;
//   margin-right: auto;

//   border: transparent;

//   background: $background-modal;

//   border-radius: 5px;
//   text-align: center;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;

//   &:hover,
//   &:focus {
//     background: $gradient-button;
//   }
// }

.hidden {
  position: absolute;

  width: 0;
  height: 0;
  margin-right: 16px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0);
  overflow: hidden;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  transition: background $transition;
}

.plan-radio {
  cursor: pointer;
}

.hidden:checked + .plan-radio {
  background: $gradient-button;

  cursor: auto;
}
