.logo {
<<<<<<< HEAD
  color: $color-second;

  font-size: 28px;
  line-height: 1.2142;
  padding: 14px 0;

  &-mobile {
    padding: 0;
  }
}
=======
    color: $color-second;

    font-size: 28px;
    line-height: 1.2142;
}
>>>>>>> e61e6703410913873b059cde5e01849a6bea4496
