.form-contacts {
  &__label,
  &__input {
    display: block;

    text-align: left;
  }

  &__label {
    position: relative;

    //  color: $color-text;

    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
  }

  &__input {
    width: 100%;
    height: 40px;

    margin-top: 4px;
    margin-bottom: 10px;
    padding: 12px 16px 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    //  &:hover + .form-contacts__icon,
    //  &:focus + .form-contacts__icon {
    //    fill: $hover-focus-button;
    //  }

    //  &:hover,
    //  &:focus {
    //    border-color: $hover-focus-button;
    //  }
  }

  &__textarea-input {
    width: 100%;
    height: 120px;

    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;

    //  transition: border-color $transition;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);

      font-size: 12px;
      line-height: 1.167;
      letter-spacing: 0.01em;
    }

    //  &:hover,
    //  &:focus {
    //    border-color: $hover-focus-button;
    //  }
  }

  &__icon {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(12px, -11px);
    fill: #212121;

    transition: fill $transition;
  }

  &__checkbox-label {
    position: relative;

    //  color: $color-text;

    font-size: 12px;
    line-height: 1.167;
    text-align: left;

    display: block;

    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
      // Rewrited "font-size and line-height"
      font-size: 14px;
      line-height: 1.714;
    }
  }

  &__checkbox-input {
    width: 16px;
    height: 16px;

    overflow: hidden;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    @media screen and (min-width: $desktop) {
      // Rewrited "margin-left and margin-right"
      margin-left: 13px;
      margin-right: 8px;
    }

    //  &:checked + .form-contacts__checkbox-icon {
    //    background-color: $hover-focus-button;
    //    border-color: $hover-focus-button;
    //    background-size: contain;
    //  }

    &:checked {
      width: 0;
      height: 0;
      margin-right: 16px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0);
      overflow: hidden;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      @media screen and (min-width: $desktop) {
        // Rewrited "marging-right"
        margin-right: 24px;
      }
    }

    &:focus + .form-contacts__checkbox-icon {
      border: 2px solid transparant;
    }
  }

  &__checkbox-icon {
    position: absolute;
    top: 1px;
    left: 0;

    width: 16px;
    height: 15px;

    border: 2px solid #212121;
    border-radius: 2px;

    //  transition: background-color $transition, border $transition;

    @media screen and (min-width: $desktop) {
      // Rewrited "top and left"
      top: 9px;
      left: 13px;
      transform: translate(0%, -50%);
    }
  }

  &__checkbox-link {
    //  color: $hover-focus-button;

    font-size: 14px;
    line-height: 1.714;

    text-decoration-line: underline;
  }
}

.box-btn {
  display: inline-flex;
  justify-items: center;
  align-items: center;
}
