.team {
	padding-top: 40px;
	text-align: center;

	background-image: url('/src/images/team/mob-vector.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media screen and (min-width: $tablet) {
		padding-top: 80px;
		background-image: url('/src/images/team/tab-vector.svg');
	}

	@media screen and (min-width: $desktop) {
		padding-top: 80px;
		background-image: url('/src/images/team/des-vector.svg');
	}
}

.section-title {
	@media screen and (max-width: 767px) {
		margin-bottom: 0;
	}
}

.section-description {

	@media screen and (max-width: 767px) {
		margin-top: 24px;
	}

	@media screen and (min-width: $tablet) {
		font-size: 16px;
		line-height: 1.5;
	}

	@media screen and (min-width: $desktop) {
		margin: 80px 196px;
		font-size: 16px;
		line-height: 1.5;
	}
}

.team-list__type {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.71;
	color: $color-second
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	row-gap: 24px;

	@media screen and (min-width: $tablet) and (max-width: 1279px) {
		padding-bottom: 35px;
		row-gap: 40px;
		column-gap: 32px;
	}

	@media screen and(min-width: $desktop) {
		justify-content: space-between;
		align-content: space-between;
		row-gap: 32px;
		row-gap: 0;
	}


	&__item {
		padding: 16px 16px 12px 16px;
		width: 280px;
		height: 413px;

		@media screen and (min-width: $tablet) {
			padding: 20px 20px 12px 20px;
			width: 336px;
			height: 409px;
		}

		@media screen and (min-width: $desktop) {
			padding: 14px 12px 12px 12px;
			width: 288px;
			height: 364px;
			left: 16px;
			top: 2441px;
		}

		@media screen and (min-width: $tablet) {
			flex-basis: calc((100% - 2*32px)/2);
		}

		@media screen and (min-width: $desktop) {
			flex-basis: calc((100% - 4*32px)/4);
		}
	}


	&__title {
		margin-top: 24px;
		margin-bottom: 12px;
		text-align: center;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.22;
		color: $color-second;

		@media screen and (min-width: $tablet) {
			margin-top: 20px;
		}
	}

	&__item--man {
		background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071B;
		backdrop-filter: blur(17.5px);
		border-radius: 15px;
	}

	&__item--woman {
		background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071B;
		backdrop-filter: blur(17.5px);
		border-radius: 15px;
	}
}

.team-foto {
	display: block;
	border-radius: 12px;
}