.footer {
    background-color: #06071B;
    border-top: 1px solid #FFFFFF;
    padding: 22px 0;
}

.footer__paragraf {
    color: $color-second;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2142px;

}