.header {
  position: absolute;
  width: 100%;
  top: 20px;
  background: $gradient-header;
  padding: 14px 0;

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2000;
}
