.hero {
  padding-top: 182px;
  padding-bottom: 122px;

  background-color: $background-dark;
  background-image: url('/src/images/hero/mobilebgr.png');
  background-repeat: no-repeat;
  background-position: right top;

  @media (min-device-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/hero/mobilebgr@2x.png');
  }

  @media screen and (min-width: $tablet) {
    padding-top: 142px;
    padding-bottom: 143px;

    background-image: url('/src/images/hero/tabletbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ration: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/hero/tabletbackground.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 243px;
    padding-bottom: 143px;

    background-image: url('/src/images/hero/herobackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ration: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/hero/herobackground.jpg');
    }
  }
}

.hero-container {
  position: relative;

  @media screen and (min-width: $tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero__title-first {
  color: $color-second;

  font-size: 24px;
  line-height: 1.208;

  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    font-size: 40px;
    line-height: 1.2;
  }
}

.hero__title-second {
  color: $color-second;

  font-size: 18px;
  line-height: 1.222;

  margin-bottom: 20px;

  max-width: 266px;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;

    max-width: 100%;

    margin-bottom: 28px;
  }
}

.hero__list {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    gap: 12px;
    margin-bottom: 40px;
  }
}

.hero__item {
  color: $color-second;

  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.18;
  }
}

.hero-icon {
  background: url('/src/images/hero/heroicon.svg') no-repeat left center;

  padding-left: 17px;
}

.btn-box-open {
  width: 200px;
  display: flex;
  align-items: center;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: $gradient-button;
  border-radius: 5px;
  padding: 2px;

  transition: padding $transition;

  &:hover,
  &:focus {
    padding: 2px;
  }

  @media screen and (min-width: $tablet) {
    margin: 0;
  }
}

.btn-download {
  width: 200px;
  height: 42px;

  color: $color-second;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.188;
  align-items: center;

  cursor: pointer;

  margin-left: auto;
  margin-right: auto;

  border: transparent;

  border-radius: 5px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: $gradient-button;

  transition: background $transition;

  &:hover,
  &:focus {
    background: $background-modal;
  }
}

.box-decor,
.box-phone {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-images {
  position: absolute;

  display: inline-flex;
  justify-content: flex-end;
  background-size: cover;
  top: 50%;
  max-width: 100%;
  height: 100%;
}

.hero-images__decor {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    top: -80;
    left: 120px;
  }

  @media screen and (min-width: $desktop) {
    top: -160px;
    left: 300px;
  }
}

.hero-images__telephone {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    top: -30px;
    left: 368px;
  }

  @media screen and (min-width: $desktop) {
    top: -180px;
    left: 750px;
  }
}
