img {
  display: block;
  height: auto;
}

// .container {
//   margin-left: 0 auto;
//   margin-right: 0 auto;
//   width: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
// @media screen and (min-width: 320px) {
//   .container {
//     max-width: 320px;
//   }
// }

// @media screen and (min-width: 769px) {
//   .container {
//     max-width: 769px;
//   }
// }

// @media screen and(min-width:1280px) {
//   .container {
//     width: auto;
//   }
// }
// .hero__block {
//   margin: 16px;
// }

.hero {
  padding-top: 182px;
  padding-bottom: 122px;

  background-image: url('/src/images/hero/mobilebgr.png');
  background-position: center center;
  background-size: cover;
  //   max-width: 1280px;
  display: flex;
  //   margin: 0px auto;
  //   margin-bottom: 60px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: url('/src/images/hero/mobilebgr.png');

    background-color: #06071b;
    background-position-x: right;
    background-position-y: 60px;
  }

  @media screen and (max-width: 320px) {
    background-color: #06071b;
    background-image: url('/src/images/hero/mobilebgr.png');
    background-position-x: right;
    background-position-y: 60px;
  }

  @media screen and (min-width: 767px) {
    background-image: url('/src/images/hero/tabletbackground.jpg');
    mix-width: 767px;
    flex-direction: column;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/src/images/hero/herobackground.jpg');
    flex-direction: column;
  }
}

@media screen and (max-width: 1279px) {
  .hero {
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: auto;
    padding-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 80px;
    padding-top: 80px;
    padding-right: auto;
    padding-left: auto;
  }
}

// .hero__block {
//   margin: auto;
//   padding: 0;
//   position: relative;
// }

.hero-container {
  //   padding-top: 182px;
  // 0px 122px 0px;
  max-width: 1280px;
  position: relative;
  //   margin-right: 0;
  align-self: flex-start;

  @media screen and (min-width: 768px) {
    margin-left: 32px;
    align-self: flex-start;
    padding: 142px 0px 143px 0px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 16px;
    align-self: flex-start;
    padding: 243px 0px 146px 0px;
  }
}

.hero__title-first {
  color: $color-second;

  font-size: 24px;
  line-height: 1.208;

  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.21;
    display: block;
    white-space: nowrap;
  }

  @media screen and (min-width: 1280px) {
    font-size: 40px;
    line-height: 1.21;
  }
}

.hero__title-second {
  color: $color-second;

  font-size: 18px;
  line-height: 1.222;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.21;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.21;
  }
}

.hero__list {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.18;
  }
}

.hero__item {
  color: $color-second;

  font-size: 12px;
  line-height: 1.25;
}

.hero-icon {
  background: url('/src/images/hero/heroicon.svg') no-repeat left center;

  padding-left: 17px;
}

.hero__wrapper {
  width: 198px;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;

  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
  background-clip: padding-box;

  align-self: center;
  display: inline-flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 0px;
    align-self: flex-start;
  }
}

.hero__button {
  width: 200px;
  height: 42px;
  background: transparent;
  border-radius: 5px;
  color: #ffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border: none;
}

.hero__button:hover,
.hero__button:focus {
  background: #06071b;
}

.hero-images {
  position: absolute;
  background-size: cover;
  top: 50%;
  width: 100%;
  display: flex;
}

.hero-images__decor {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 767px) {
    top: -50px;
    left: 110px;
  }

  @media screen and (min-width: 869px) {
    top: -70px;
    left: 250px;
  }
  @media screen and (min-width: 1024px) {
    top: -80px;
    left: 270px;
  }

  @media screen and (min-width: 1280px) {
    top: -110px;
    left: 300px;
  }
}

.hero-images__telephone {
  position: absolute;
  max-width: 100%;
  // object-fit: cover;
  display: block;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 767px) {
    top: 0px;
    left: 370px;
  }

  @media screen and (min-width: 869px) {
    top: 00px;
    left: 450px;
  }

  @media screen and (min-width: 879px) {
    top: 00px;
    left: 500px;
  }

  @media screen and (min-width: 1024px) {
    top: 0px;
    left: 580px;
  }

  @media screen and (min-width: 1280px) {
    top: -80px;
    left: 750px;
  }
}
