.video {
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 80px 32px 40px 32px;
  }

  @media screen and (min-width: $desktop) {
  }

  &__conteiner {
    position: relative;
    margin: 0 auto;
    padding: 40px 20px;
    height: 629px;
    width: 100%;

    background-image: url('/src/images/video/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ration: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/video/bg-mobile@2x.png');
    }

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }

    @media screen and (min-width: $tablet) {
      background-image: url('/src/images/video/bg-tablet.png');
      padding: 80px 32px 40px;
      width: $tablet;

      @media (min-device-pixel-ration: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('/src/images/video/bg-tablet@2x.png');
      }
    }

    @media screen and (min-width: $desktop) {
      background-image: url('/src/images/video/bg-dt.png');
      padding: 60px 16px;
      width: $desktop;
      max-height: 402px;

      @media (min-device-pixel-ration: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('/src/images/video/bg-dt@2x.png');
      }
    }
  }

  &__title {
    color: $color-second;

    font-size: 20px;
    line-height: 1.2;

    margin-bottom: 24px;

    @media screen and (min-width: $desktop) {
      font-size: 24px;
      line-height: 1.208;

      margin-bottom: 20px;
    }
  }

  &__description {
    color: $color-second;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.214;

    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.188;

      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 479px;
      margin-bottom: 40px;
    }
  }
}

.entypo-social {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: $desktop) {
    justify-content: left;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: $color-second;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background: $gradient-button;

    cursor: pointer;
  }
}

.video__image {
  position: absolute;
  z-index: 2;
  bottom: -20px;
  left: 0;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -7%);

  @media screen and (min-width: $tablet) {
    width: 600px;
    height: auto;
  }

  @media screen and (min-width: $desktop) {
    left: 100%;
    right: 0;
    width: 680px;
    height: auto;
    transform: translate(-105%, -2%);
  }
}
